<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org/"/>
<head>
    <div th:replace="layout/header :: header"/>
    <link rel="stylesheet"
          href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.5.1/styles/default.min.css">
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.5.1/highlight.min.js"></script>
    <script>hljs.initHighlightingOnLoad();</script>
</head>
<body style="background-color: #C5CAE9;">
<img id="img-bg" src="/img/bg_logo.png" width="150px" style="box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);border-radius: 10px; margin-top:50px; margin-left: 200px;">


<div style="margin-top: 30px; width: 100%;">
    <div class="row">
        <!-- 프로필 부분 -->
        <div class="col-4">
            <div style="margin:0 auto;text-align:center;height: 550px; width: 320px; background-color: white;box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 10px;padding-top:50px;">
                <img class="img-profile" src="/img/default_profile.png" style="margin:0 auto; width: 200px;height: 200px;background-color:#C4C4C4; border-radius: 100%;">
                <div class="profile-bojusername" style="display: none;" th:text="${boj_username}"></div>
                <div style="margin-top:30px; font-weight: bold; font-size:32px" th:text="${principal.getUsername()}"></div>
                <a href = "/logout" style="text-decoration-line: none;font-weight: bold; font-size: 16px; color: #49599A">로그아웃</a>
                <div style="height: 30px"></div>
                <a th:href="'/members/'+${id}" style="text-decoration-line: none;font-weight: bold;font-size: 16px; color: #777777">내 프로필</a>
                <div style="height: 10px"></div>
                <div style="width:170px;height:24px;margin:0 auto;">
                    <img src="/img/solvedac_logo.png" height="24px" style="margin-bottom: 5px;"/>&nbsp;<a th:href="'https://solved.ac/profile/'+${boj_username}" style="text-decoration-line: none;font-weight: bold; font-size: 16px; color: #777777; text-underline: none;">Solved.ac</a>
                </div>
                <div style="height: 10px"></div>
                <div>
                    <i class="fa-brands fa-github"></i> <a th:href="'https://github.com/'+${github_username}" style="font-weight: bold; font-size: 16px; color: #777777">&nbsp;GitHub</a>
                </div>
            </div>
        </div>
        <!-- -->
        <div class="col-8" style="border-left: 1px solid white; text-align: center;">
            <div class="row" style="margin:0 auto;width: 800px; background-color: white;box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);border-radius: 10px;">
                <div style="height: 20px;"></div>
                <div style="font-size: 28px; font-weight: bold; text-align: start; margin-left: 25px;">제목</div>
                <input type="text" disabled class="row" style="border:none; margin:0 auto;width: 750px;height: 70px; background-color: #EEEEEE; border-radius: 10px; resize: none; font-size: 16px; color: #49599A; font-weight: bold;" th:value="${post.getTitle()}">

                <div style="height: 20px;"></div>

                <div class="row">
                    <div class="col-3">
                        <div style="font-size: 28px; font-weight: bold; text-align: start; margin-left: 25px;">문제번호</div>
                    </div>
                    <div class="col-9">
                        <img id="problem-svg" th:src="${post.getLevel()}" height="28px">&nbsp;
                        <label id="problem-number" style="font-size: 24px; font-weight: bold; color:grey" th:text="${post.getProblemNum()}"></label>&nbsp;&nbsp;&nbsp;
                        <label id="problem-name" style="font-size: 24px; font-weight: bold; color:grey" th:text="${post.getProblemName()}"></label>
                    </div>
                </div>

                <div style="height: 20px;"></div>

                <div style="font-size: 28px; font-weight: bold; text-align: start; margin-left: 25px;">문제 아이디어</div>
                <input type="text" disabled class="row" style="border:none; margin:0 auto;width: 750px;height: 70px; background-color: #EEEEEE; border-radius: 10px; resize: none; font-size: 16px; color: #49599A; font-weight: bold;" th:value="${post.getProblemIdea()}">

                <div style="height: 20px;"></div>

                <div style="font-size: 28px; font-weight: bold; text-align: start; margin-left: 25px;">시간복잡도</div>
                <input type="text" disabled class="row" style="border:none; margin:0 auto;width: 750px;height: 70px; background-color: #EEEEEE; border-radius: 10px; resize: none; font-size: 16px; color: #49599A; font-weight: bold;" th:value="${post.getTimeComplexity()}">

                <div style="height: 20px;"></div>

                <div style="font-size: 28px; font-weight: bold; text-align: start; margin-left: 25px;">소스코드</div>
                <pre>
                    <code type="text" class="row cpp" style="text-align:start;border:none; margin:0 auto;width: 750px;height: 500px; background-color: #EEEEEE; border-radius: 10px; resize: none; font-size: 16px; color: #49599A; font-weight: bold;" th:text="${post.getCode()}"></code>
                </pre>

                <div style="height: 20px;"></div>

                <div style="font-size: 28px; font-weight: bold; text-align: start; margin-left: 25px;">문제태그</div>
                <input id="problem-tags" type="text" style="border:none; margin:0 auto;width: 750px;height: 35px; background-color: #EEEEEE; border-radius: 10px; font-size: 16px; color: #1E88E5; font-weight: bold;" disabled th:value="${post.getTags()}">

                <div style="height: 20px;"></div>

            </div>

            <div style="height: 20px;"></div>
            <div class="row">
                <div class="row" style="margin:0 auto;width: 800px;height:180px; background-color: white;box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);border-radius: 10px;">
                    <div style="height: 10px;"></div>
                    <div style="font-size: 28px; font-weight: bold; text-align: start; margin-left: 25px;">댓글작성</div>
                    <textarea id="comment-content" type="text" style="resize:none;border:none; margin:0 auto;width: 750px;height: 75px; background-color: #EEEEEE; border-radius: 10px; font-size: 16px; color: #1E88E5; font-weight: bold;"></textarea>
                    <div style="height: 10px;"></div>
                    <div class="row" style="text-align: end; margin-right: 25px;">
                        <div class="col" style="text-align: start;">
                            <label>작성자: </label>&nbsp;&nbsp;<img class="img-profile" src="/img/default_profile.png" height="25px;" style="border-radius: 100%;">&nbsp;<label style="font-weight: bold;" th:text="${principal.getUsername()}"></label>
                            <div class="profile-bojusername" style="display: none;" th:text="${boj_username}"></div>
                        </div>
                        <div class="col" style="text-align: end;">
                            <button id="comment-submit" class="btn btn-primary">작성하기</button>
                        </div>
                    </div>
                    <div style="height: 10px;"></div>
                </div>
            </div>

            <!-- 댓글 DB 연동 부분 -->
            <div th:each="comment : ${comments}">
                <div style="height: 20px;"></div>
                <div class="row" style="margin:0 auto;width: 800px; background-color: white;box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);border-radius: 10px;">
                    <div style="height: 10px;"></div>
                    <div class="row" style="padding-left: 25px;">
                        <div class="col-3" style="text-align: start;">
                            <img class="img-profile" src="/img/default_profile.png" height="25px;" style="border-radius: 100%;">&nbsp;&nbsp;
                            <label style="font-weight: bold;" th:text="${comment.getMember().getUsername()}"></label>
                            <div class="profile-bojusername" style="display: none;" th:text="${comment.getMember().getBaekjoonId()}"></div>
                        </div>
                        <div class="col-1">|</div>
                        <div class="col-7" style="text-align: start; color: #1E88E5;" th:text="${comment.getContent()}"></div>
                        <div class="col-1"><button class="btn btn-danger del-btn" style="height: 23px; padding: 0 12px;">del</button></div>
                        <div class="del-id" th:text="${comment.getId()}" style="display: none;"></div>
                    </div>
                    <div style="height: 10px;"></div>
                </div>
            </div>
            <!-- -->

        </div>

    </div>
</div>
<div style="height: 200px;"></div>

</body>
<script>
    const del_btn = document.querySelectorAll(".del-btn");
    const del_id = document.querySelectorAll(".del-id");

    for(let i=0;i<del_btn.length;i++){
        del_btn[i].addEventListener('click',()=>{
            const url = window.location.href + `/comment/${del_id[i].textContent * 1}/delete`;
            fetch(url,{
                method:'post',
                headers:{'content-type': 'application/json'},
            }).then(()=>{location.reload()});
        });
    }


    const img_bg = document.querySelector("#img-bg");
    img_bg.addEventListener('click',()=>{
        window.location.href = "/";
    });

    const img_url = document.querySelectorAll(".img-profile");
    const boj_username = document.querySelectorAll(".profile-bojusername");
    for(let i=0;i<img_url.length;i++) {
        fetch(`https://solved.ac/api/v3/user/show?handle=${boj_username[i].textContent}`)
            .then((response) => {
                return response.json();
            })
            .then((items) => {
                if (items['profileImageUrl'] !== null)
                    img_url[i].src = items['profileImageUrl'];
                else
                    img_url[i].src = 'img/default_profile.png';
            });
    }

    const comment_submit = document.querySelector("#comment-submit");
    comment_submit.addEventListener('click',()=>{
        const comment_content = document.querySelector("#comment-content");
        const url = window.location.href+"/new";
        fetch(url,{method:'POST'
            , headers:{'content-type':'application/json'}
            ,body:JSON.stringify({"content":comment_content.value})})
        .then(()=>{location.reload()});
    });
</script>
</html>