<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head>
    <div th:replace="layout/header :: header"/>
</head>
<body style="background-color: #C5CAE9;">
    <div style="position: fixed; width:100%; top:0px; left:0px; height:65px; background-color: #9499B7;">
        <img src="./img/bg_logo.png" height="65px">
    </div>

    <div style="margin-top: 150px; width: 100%;">
        <!-- 프로필 부분 -->
        <div class="row">
            <div class="col-4">
                <div style="margin:0 auto;text-align:center;height: 550px; width: 320px; background-color: white;box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 10px;padding-top:50px;">
                    <img src="/img/default_profile.png" style="margin:0 auto; width: 200px;height: 200px;background-color:#C4C4C4; border-radius: 100%;">
                    <div style="margin-top:30px; font-weight: bold; font-size:32px" th:text="${principal.getUsername()}"></div>
                    <div style="height: 30px"></div>
                    <a th:href="'members/'+${id}" style="font-weight: bold;font-size: 16px; color: #777777">내 프로필</a>
                    <div style="height: 10px"></div>
                    <div style="width:170px;height:24px;margin:0 auto;">
                        <img src="/img/solvedac_logo.png" height="24px" style="margin-bottom: 5px;"/>&nbsp;<a th:href="'https://solved.ac/profile/'+${boj_username}" style="font-weight: bold; font-size: 16px; color: #777777; text-underline: none;">Solved.ac</a>
                    </div>
                    <div style="height: 10px"></div>
                    <div>
                        <i class="fa-brands fa-github"></i> <a th:href="'https://github.com/'+${github_username}" style="font-weight: bold; font-size: 16px; color: #777777">&nbsp;GitHub</a>
                    </div>
                </div>
            </div>

            <!-- -->
            <div class="col-8" style="border-left: 1px solid white; text-align: center;">
                <div style="text-align: end; margin-right: 80px;">
                    <a class="btn btn-success" href="/posts/new">게시물 작성</a>
                </div>
                <div style="height:15px"></div>
                <div id="search-bar" class="row" style="margin:0 auto;width: 800px;height: 65px; background-color: white;box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);border-radius: 10px;">
                    <div class="row height d-flex justify-content-center align-items-center">
                        <div class="form">
                            <div class="row">
                                <div class="col-6">
                                    <select class="form-select" aria-label="Default select example">
                                        <option value="" selected>알고리즘</option>
                                        <option value="수학">수학</option>
                                        <option value="구현">구현</option>
                                        <option value="다이나믹 프로그래밍">다이나믹 프로그래밍</option>
                                        <option value="그래프 이론">그래프 이론</option>
                                        <option value="자료 구조">자료 구조</option>
                                        <option value="문자열">문자열</option>
                                        <option value="그리디 알고리즘">그리디 알고리즘</option>
                                        <option value="브루트포스 알고리즘">브루트포스 알고리즘</option>
                                        <option value="그래프 탐색">그래프 탐색</option>
                                        <option value="정렬">정렬</option>
                                        <option value="정수론">정수론</option>
                                        <option value="기하학">기하학</option>
                                        <option value="트리">트리</option>
                                        <option value="세그먼트 트리">세그먼트 트리</option>
                                        <option value="이분 탐색">이분 탐색</option>
                                        <option value="너비 우선 탐색">너비 우선 탐색</option>
                                        <option value="시뮬레이션">시뮬레이션</option>
                                        <option value="사칙연산">사칙연산</option>
                                        <option value="깊이 우선 탐색">깊이 우선 탐색</option>
                                        <option value="애드 혹">애드 혹</option>
                                        <option value="조합론">조합론</option>
                                        <option value="누적 합">누적 합</option>
                                        <option value="구성적">구성적</option>
                                        <option value="많은 조건 분기">많은 조건 분기</option>
                                        <option value="비트마스킹">비트마스킹</option>
                                        <option value="다익스트라">다익스트라</option>
                                        <option value="파싱">파싱</option>
                                        <option value="백트래킹">백트래킹</option>
                                        <option value="분리 집합">분리 집합</option>
                                        <option value="해시를 사용한 집합과 맵">해시를 사용한 집합과 맵</option>
                                        <option value="스위핑">스위핑</option>
                                        <option value="분할 정복">분할 정복</option>
                                        <option value="트리를 사용한 집합과 맵">트리를 사용한 집합과 맵</option>
                                        <option value="우선순위 큐">우선순위 큐</option>
                                        <option value="스택">스택</option>
                                        <option value="트리에서의 다이나믹 프로그래밍">트리에서의 다이나믹 프로그래밍</option>
                                        <option value="두 포인터">두 포인터</option>
                                        <option value="최대 유량">최대 유량</option>
                                        <option value="소수 판정">소수 판정</option>
                                        <option value="느리게 갱신되는 세그먼트 트리">느리게 갱신되는 세그먼트 트리</option>
                                        <option value="비트필드를 이용한 다이나믹 프로그래밍">비트필드를 이용한 다이나믹 프로그래밍</option>
                                        <option value="게임 이론">게임 이론</option>
                                        <option value="임의 정밀도/큰 수 연산">임의 정밀도/큰 수 연산</option>
                                        <option value="분할 정복을 이용한 거듭제곱">분할 정복을 이용한 거듭제곱</option>
                                        <option value="오프라인 쿼리">오프라인 쿼리</option>
                                        <option value="재귀">재귀</option>
                                        <option value="확률론">확률론</option>
                                        <option value="매개 변수 탐색">매개 변수 탐색</option>
                                        <option value="배낭 문제">배낭 문제</option>
                                        <option value="에라토스테네스의 체">에라토스테네스의 체</option>
                                        <option value="이분 매칭">이분 매칭</option>
                                        <option value="런타임 전의 전처리">런타임 전의 전처리</option>
                                        <option value="최소 스패닝 트리">최소 스패닝 트리</option>
                                        <option value="최소 공통 조상">최소 공통 조상</option>
                                        <option value="값/좌표 압축">값/좌표 압축</option>
                                        <option value="해싱">해싱</option>
                                        <option value="유클리드 호제법">유클리드 호제법</option>
                                        <option value="플로이드-와샬">플로이드-와샬</option>
                                        <option value="위상 정렬">위상 정렬</option>
                                        <option value="강한 연결 요소">강한 연결 요소</option>
                                    </select>
                                </div>
                                <div class="col-5">
                                    <input type="text" class="form-control form-input" placeholder="(선택) 문제번호를 입력하세요.">
                                </div>
                                <div class="col-1">
                                    <i class="fa fa-search" style="font-size:30px;margin-top:5px;"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


            <!-- DB 연동부분 -->
                <div th:each="post : ${postList}">
                    <div style="height: 30px;"></div>
                    <div class="contests" style="margin:0 auto;width: 800px;height: 140px; background-color: white;box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);border-radius: 10px;">
                        <div style="height: 10px;"></div>
                        <div class="row" style="text-align: start;">
                            <div class="col-5"  style="text-align: start; font-size: 20px; padding-left: 30px;">
                                <img th:src="${post.getLevel()}" height="20px">&nbsp
                                <label style="font-weight: bold;" th:text="${post.getProblemNum()}"></label>&nbsp;&nbsp;
                                <label style="font-weight: bold;" th:text="${post.getProblemName()}"></label>
                            </div>
                            <div class="col-4" style="font-weight: bold;color: #1E88E5; font-size: 16px;" th:text="${post.getTags()}"></div>
                            <div class="col-3" style="text-align:end;padding-right:30px;color: #555555; font-size: 16px;" th:text="'작성자: '+${post.getMember().getUsername()}"></div>
                        </div>
                        <div style="height: 10px;"></div>
                        <div class="row" style="margin:0 auto;width: 770px;height: 70px; background-color: #EEEEEE; border-radius: 10px;">
                            <label style="line-height: 70px; font-size: 16px; color: #49599A; font-weight: bold;" th:text="${post.getTitle()}"></label>
                        </div>
                    </div>
                </div>

            <!-- -->
        </div>
    </div>
</div>
</body>
</html>