<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <div th:replace="/layout/header :: header"/>
</head>

<body style="background-color: #E1BEE7;">
    <div class="container">
        <div class="row" style="margin-top: 50px;height:740px;">
            <div class="col" style="display: flex; justify-content:center; align-items: center;">
                <img src="/img/bg_logo.png" width="500px" height="190px"
                    style="border-radius:10px; position: absoulte; ">
            </div>
            <div class="col"
                style="display: flex; justify-content:center; align-items: center;border-left:1px solid #ffffff; ">
                <div style="text-align:center; width: 520px; height:640px; background-color:white;box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.25);
border-radius: 10px;">
                    <div style="height: 50px;"></div>
                    <div style="color: #777777; font-size:40px;">Sign Up</div>
                    <div style="height: 30px;"></div>
                    <div class="form-floating" style="color: #777777;margin:0 auto;width: 320px; height:50px;">
                        <input type="email" class="form-control" name="signup_username" id="signup_username" placeholder="name@example.com">
                        <label for="signup_username">Username or Email address</label>
                    </div>
                    <div style="height: 20px;"></div>
                    <div class="form-floating" style="color: #777777;margin:0 auto;width: 320px; height:50px;">
                        <input type="password" class="form-control" name="signup_password" id="signup_password" placeholder="Password">
                        <label for="signup_password">Password</label>
                    </div>
                    <div style="height: 20px;"></div>
                    <div class="form-floating" style="color: #777777;margin:0 auto;width: 320px; height:50px;">
                        <input type="text" class="form-control" name="signup_baekjoonId" id="signup_baekjoonId" placeholder="Baekjoon_ID">
                        <label for="signup_baekjoonId">Baekjoon_ID</label>
                    </div>
                    <div style="height: 20px;"></div>
                    <div class="form-floating" style="color: #777777;margin:0 auto;width: 320px; height:50px;">
                        <input type="text" class="form-control" name="signup_githubId" id="signup_githubId" placeholder="Github_ID">
                        <label for="signup_githubId">Github_ID</label>
                    </div>
                    <div id="error-message"></div>
                    <div style="height: 40px;"></div>
                    <div id="signup-btn"
                        style="margin:0 auto; background-color: #1E88E5; border-radius:5px; width:320px; height:50px; color:white; font-weight:bold; font-size:24px; line-height:50px">
                        Sign up</div>
                    <div style="font-size: 15px; margin-top:20px">
                        <span style="color: #777777;">Already have an account?</span>&nbsp&nbsp&nbsp<a href="/login"
                            style="color: #AF8EB5; font-weight:bold; text-decoration-line: none;">Login</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>
<script>
    const signup_btn = document.querySelector("#signup-btn");
    signup_btn.addEventListener("mouseover",()=>{
        signup_btn.style.background = "#9499B7";
    });
    signup_btn.addEventListener("mouseout", () => {
            signup_btn.style.background = "#1E88E5";
        });

    signup_btn.addEventListener('click',()=>{
       const signup_username = document.querySelector("#signup_username").value;
       const signup_password = document.querySelector("#signup_password").value;
       const signup_baekjoonId = document.querySelector("#signup_baekjoonId").value;
       const signup_githubId = document.querySelector("#signup_githubId").value;

       const data = {
           username : signup_username,
           password : signup_password,
           baekjoonId : signup_baekjoonId,
           githubId : signup_githubId
       }
       fetch("/members/new",{method:'POST'
           , headers:{'content-type':'application/json'}
           ,body:JSON.stringify(data)})
           .then(() => {window.location.href = "/login"})
        .catch(() => {
            const error = document.querySelector("#error-message");
            error.innerText = "잘못된 입력입니다.";
            error.style.color = "#e53935";
        })
    });
</script>

</html>